section > div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.section-content-wrapper {
	padding: 20px 0;
}

.dish-card {
	padding: 30px 40px;
	border-radius: 35px;
	cursor: pointer;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	background-color: #ffffff;

	border: 2px solid transparent;
	
	display: flex;
	flex-direction: column;
	gap: 2px;

	transition: 0.5s;
}
.dish-card:hover {
	border: solid 2px tomato;
	padding: 30px 40px;
	background-color: #ffffff;
	

	.add-to-card-button {
		background-color: #d6d0c5;
	}
}
.add-to-card-description {
	font-weight: 600;
}
.add-to-card-weight {
	font-size: 20px;
	font-weight: 400;
	color: gray;
	margin-top: 20px;
}
.add-to-card-name {
	flex-grow: 1;
}
.add-to-card-button {
	margin-top: 8px;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;

	background-color: #f1eee9;
	font-size: 20px;
	cursor: pointer;
	transition: 0.8s;
}
section > div > div > img {
	width: 100%;
	border-radius: 35px;
	margin-bottom: 15px;
}
.dish p {
	margin: 5px 0;
}