@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');


/* STYLE RESET */
* {
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}


/* MAIN STYLES */
body {
	/* base font settings */
	font-family: "Montserrat", sans-serif;
	font-size: 20px;  
	font-weight: 400;
	color: #000000;
	color: #000000;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.padding-wrapper {
	padding: 0 70px;
}


.page-main-header {
	padding-bottom: 55px;
}

.page-header {
	font-size: 50px;
	font-weight: 700;
	color: #000000;

	margin: 70px 0;
}
.nav-bar-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	list-style: none;
}
.nav-bar-list-item-link {
	font-size: 25px;
	font-weight: 500;
	text-decoration: none;
	color: inherit;

	transition: 0.5s ease;
}
.active {
	color: tomato;
}
.nav-bar-list-item-link:hover {
	color: #e13a10;
}

.section-styles {
	margin-top: 10px;
}
.section-content-wrapper {
	margin: 30px 0;

}
.section-header {
	font-size: 35px;
	font-weight: 600;
	color: #000000;
}
.form-header {
	font-size: 40px;
	text-align: center;
}

.section-img {
	width: 70vw;
	height: auto;
	border-radius: 35px;
}
.section-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.section-paragraph {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.section-table {
	width: 50vw;
	border-collapse: collapse;
}
th, td {
    text-align: center;
	border: 1px solid #000000;
	padding: 10px;
}

.page-footer {
	margin-top: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
	color: #ffffff;
}
.footer-paragraph-link {
	font-size: 25px;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	
	transition: 0.5s ease;
}
.footer-paragraph-link:hover {
	color: #dda89f;
	text-decoration: none;
}

.hide-element {
	display: none;
}


@media all and (max-width: 800px) {
	.nav-bar-list {
		justify-content: space-between;
	}
	.section-img {
		width: 500px;
	}
}


@media all and (max-width: 600px) {
	.nav-bar-list {
		flex-direction: column;
		align-items: center;
	}
	.nav-bar-list a {
		font-size: 29px;
	}

	h1.page-header, h2.section-header {
		text-align: center;
	}
	.section-img {
		width: 100%;
	}
	.section-table {
		font-size: 16px;
	}

	.footer-paragraph {
		text-align: center;
	}
}


@media all and (max-width: 400px) {
	.section-table {
		font-size: 14px;
	}
}